* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header nav {
    display: inline;
    margin: 1rem;
}

.header-left {
    float: left;
    margin: 1.8rem;
}

.header-right {
    float: right;
}

a {
    margin: 0 1rem;
    color: rgba(0, 0, 0, .7);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#app {
    position: relative;
    top: .5rem;
    opacity: .5;
}

#app:hover {
    opacity: 1;
}

#signin {
    color: white;
    background-color: #4285F4;
    padding: .5rem 1rem;
    text-decoration: none;
}

main {
    width: 50rem;
    margin: auto;
}

h1 {
    position: relative;
    top: 15rem;
}

h1 img {
    margin: auto;
    display: block;
}

.searchbar {
    position: relative;
    top: 17rem;   
}

form {
    width: 36rem;
    margin: auto;
}

.qsearch {
    border: .05rem solid rgba(0, 0, 0, .1);
    border-radius: 10rem;
}

.qsearch:hover {
    box-shadow: .2rem .2rem rgba(0, 0, 0, .1);
}

#q {
    width: 30rem;
    height: 2rem;
    padding-left: 1.5rem;
    margin: auto;
    border: none;
    outline: none;
    font-size: 1rem;
}

#q::-webkit-search-cancel-button{
    display: none;
}

#mag {
    width: 2rem;
    position: relative;
    top: .3rem;
    left: 1.5rem;
} 

#mic {
    width: 1rem;
}

.submitboxes {
    text-align: center;
}

.submitboxes input {
    padding: 1rem;
    margin: 0 .5rem;
    opacity: .7;
    border: none;
    border-radius: .5rem;
}

.submitboxes input:hover {
    opacity: 1;
    box-shadow: .1rem .1rem rgba(0, 0, 0, .1);
}

main p {
    position: relative;
    top: 19rem;
    text-align: center;
}

p a {
    text-decoration: underline;
    color: #7C4EA5;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #F2F2F2;
    padding: 0 1rem;
}

footer p {
    padding: 1rem;
    color: rgba(0, 0, 0, .5);
}

.footer-left {
    float: left;
    padding: 1rem 0;
    color: rgba(0, 0, 0, .5);
}

.footer-right {
    float: right;
    padding: 1rem 0;
    color: rgba(0, 0, 0, .5);
}